# Production dependencies
fastapi>=0.109.0
mangum>=0.17.0
pydantic>=2.6.0
boto3>=1.34.0
pandas>=2.2.0
gspread>=6.0.0
oauth2client>=4.1.3
creditagricole_particuliers

# Development dependencies
pytest>=8.0.0
flake8>=7.0.0
black>=24.1.0